[flake8]
max-line-length = 88
extend-ignore = E203, W503
select = B, C, D, E, F, I, TYP
import-order-style = google
docstring-convention = google

[flake8-annotations]
mypy-init-return = True
suppress-none-returning = True
suppress-dummy-args = True
allow-untyped-defs = False

[flake8-bugbear]


[flake8-comprehensions]


[flake8-docstrings]

